<!-- Sidebar -->
<div class="bg-dark border-right p-3" id="sidebar">
    <div class="text-light">

      <h5> JdR </h5>
      <hr class="text-white" />

      <div class="list-group list-reset">
        <a href="#" class="list-group-item list-group-item-action">Intro</a>
        <a href="#" class="list-group-item list-group-item-action" routerLink="conflictos">Conflictos</a>
        <a href="#" class="list-group-item list-group-item-action" routerLink="personajes">Personajes</a>        
        <a href="#" class="list-group-item list-group-item-action" routerLink="dosciudades">Dos Ciudades</a>
        <a href="#" class="list-group-item list-group-item-action" routerLink="productos">Productos</a>
      </div>      
      
    </div>
  </div>
  <!-- End Sidebar-->
